![Faculty-of-Computer-Science_Logo_main_ohne-link.png]()

# Erstes Python Programm! ("Hello World")

Wir werden direkt unser erstes Python Programm erstellen und ausführen. 
Mit der Anweisung `print() `können wir uns eigene Sätze ausdenken und diese dann direkt auf dem Bildschirm ausgeben. Einzelne Symbole, Wörte oder ganze Sätze müssen in Anführungszeichen stehen.

Das Hello World Programm besteht nur aus einer einzigen Anweisung, nämlich den Funktionsaufruf `print()`, in dem der auszugebende Text eingetragen wird.

Mit der print-Anweisung bitten wir Python, etwas auf unserer Konsole auszugeben.

In [ ]:
print("Hello World!")

Hello World!

## Neue Zeile mit "\n"

In [ ]:
print("Hallo Vorkurs!\nHello World\nALT-GR + ß erzeugt: \ ")

Hallo Vorkurs!
Hello World
ALT-GR + ß = \

# Variablen

In [ ]:
# Definiere die Box name und lege "Jonas" hinein
name = "Jonas"
alter = 20

# Hole die Box name, nehme "Jonas" herraus und lege "Tim" hinein
name = "Tim"

print("Hallo mein Name ist" + name)
print("Hallo mein Name ist", name)
print(f"Hallo mein Name ist {name} und bin {alter} Jahre alt.")

Hallo mein Name istTim
Hallo mein Name ist  Tim
Hallo mein Name ist Tim und bin 20 Jahre.

# Datentypen

Datentypen teilen Python mit, um welche Art von Daten es sich handelt.

Die Daten werden **Variablen** zugewiesen. Das bedeutet, dass jede Variable einen bestimmten Datentyp hat. Je nachdem, welche Daten man erzeugt oder verwenden möchte, eignen sich unterschiedliche Datentypen.

### Strings 


Strings sind Ketten von Zeichen. Das kann beispielsweise ein Wort oder ein ganzer Text sein.

Strings müssen entweder durch einfache oder doppelte **Anführungszeichen** abgegrenzt werden. Alle Zeichen zwischen dem öffnenden Trennzeichen und dem  schließenden Trennzeichen sind Teil des Strings.

![](https://colabpython.s3-eu-west-1.amazonaws.com/strings.PNG)

In [ ]:
# Kommentar

# Kommentare werden nicht als Code interpretiert und mit einer Raute
# eingeleitet.

# print("Ich bin ein Kommentar!")
print("Ich bin Code!")

Ich bin Code!

---
**Datentyp bestimmen**

in Python kann man den Datentypen einer Variabeln mit der Funktion `type() `bestimmen

In [ ]:
ganzahl :int = 2
kommazahl :int = 2.0

print(f"Int: {type(ganzahl)}, Float: {type(kommazahl)}")

Int: <class 'int'>, Float: <class 'float'>

---
**Strings miteinander verknüpfen**

In [ ]:
name = "Tim"
alter = "21"

print(name + " ist " + alter + " Jahre alt.")

Tim ist 21 Jahre alt.

---
**Einzelne Zeichen ausgeben (Stringindexing)**

In [ ]:
name = "Tim"
print(name[0] + name[1] + name[2])

Tim

---

`len()` — **Länge eines Strings bestimmen**

In [ ]:
# Gib die Länge von name zurück. 
print(len(name))

3

#### String-Methoden

Der Datentyp String verfügt über eine Vielzahl von Methoden. Mann kann Methoden verwenden, um Strings zu **manipulieren** oder um bestimmte Informationen über Strings zu erhalten.



---


`.lower() und .upper()`

In [ ]:
# Mach alles zu Klein- bzw. Großbuchstaben
name = name.upper()
print(name)

JONAS



---


`.count()`

In [ ]:
# Zähle die Anzahl von "Test" in name
name = "Test Test Test Test"
print(name.count("Test"))

4



---


`.replace()`

In [ ]:
# Ersetze "Test" durch "Hallo"
name = "Test Test Test Test"
print(name.replace("Test", "Hallo"))
print(name.replace("Hallo", "Test"))

Hallo Hallo Hallo Hallo
Test Test Test Test



---

`.index()`

In [ ]:
# Gib den Index des ersten Vorkommens des Buchstaben "e" zurück,
# innerhalb des 0'ten und 8'ten Indexes.
name.index("e", 0, 8)
name.index("t")

3



---

`.islower()   .isupper()`

In [ ]:
# Überprüfe ob alles Klein- bzw. Großbuchstaben sind

name = "dskjfhs"

print(name.islower())
name.upper().isupper()

True

True





---
`.isdigit()                                    .isalpha()`

In [ ]:
#zahl = "42 is eine tolle Zahl"

zahl = "42"
#zahl = "Zahl"

print(zahl.isdigit())
print(zahl.isalpha())

True
False

#### Slicing

![](https://colabpython.s3-eu-west-1.amazonaws.com/slicing.PNG)

In [ ]:
name = "Jonas"

print(name)
print(name[-1])

# invertiert den String name
print(name[::-1])
print(name[0:len(name):-1])

# Gibt jeden zweiten Buchstaben aus
print(name[::2])
print(name[0:len(name):2])

Jonas
s
sanoJ

Jns
Jns

## Numbers — `int` und `float`

`int` ist ein Datentyp, welcher ganzzahlige Werte speichern kann.
`float` speichert Fließkommazahlen

![](https://colabpython.s3-eu-west-1.amazonaws.com/Numbers.PNG)



---
**int**

In [ ]:
ganzhal = 42
floatzahl = 42.0

print(ganzhal == floatzahl)
print(type(ganzhal) == type(floatzahl))

True
False



---


**float**

### Rechenoperationen

---


Addition (+)

Subtraktion (-)

Multiplikation (*)

Ganzzahlige Division (//)

Division (/)
 
Rest einer Division (%)

Potenzieren (**)

In [ ]:
zahl = 866
zahl2 = 3

print(zahl // zahl2)
print(zahl % zahl2)

zahl = 20 * 32 + 6 
print(zahl % 32)

288
2
6

### int und float- Methoden

### Arithmetische Funktion

### Aufgabe 0
In einer Urne sind fünf Kugeln enthalten, von denen zwei rot und drei gelb sind. Nacheinander werden zwei Kugeln entnommen.

> a) Ermitteln Sie jeweils die Wahrscheinlichkeit für die Ereignisse \
> $\hspace{0.4cm}$ $R_1$ "Die erste gezogene Kugel ist rot" und \
> $\hspace{0.4cm}$ $G_2$ "Die zweite gezogene Kugel ist gelb". \
> \
> b) Berechnen Sie die bedingten Wahrscheinlichkeiten $P(G_2|R_1)$ und \
> $\hspace{0.4cm}$ $P(R_1| G_2)$. \

In [ ]:
# Schaut bitte ins Notebook mit der Musterlösung

# Teilaufgabe a)
gelb = 2
rot = 3

print(rot / 5)
      # zuert rot  +  zuerst gelb
print( (3/5 * 2/4) + (2/5 * 3/4) )

# Teilaufgabe b)  P(A|B) = P(A ∩ B) / P(B)

0.4
0.5

### Aufgabe 1

Ein Glücksrad mit 11 gleichgroßen Feldern (nummeriert mit $1,...,11$) wird einmal gedreht, wobei die Zufallsvariable $X$ die Nummer des erzielten Feldes angibt. Ermitteln Sie den Erwartungswert und die Varianz von $X$.

In [ ]:
#Lösung -> siehe Musterlösungs Notebook

## Boolean

Beim Programmieren muss man oft wissen, ob eine Aussage wahr oder falsch ist.

Man kann jeden Ausdruck in Python auswerten und ein Wahrheitswert erhalten.
Entweder erhält man den Wahrheitswert `True` oder `False`.
Mann kann auch Variablen bei der Definition Wahrheitswerte zuweisen.

![](https://colabpython.s3-eu-west-1.amazonaws.com/boolean.PNG)

### Vergleichsoperatoren

Variablen können mithilfe der folgenden Vergleichsoperatoren verglichen werden:

![](https://colabpython.s3-eu-west-1.amazonaws.com/boolverg.PNG)

In [ ]:
test = 1
test2 = 2

print(test <= test2)

True

### Logikoperatoren


Häufig möchte man mehrere Variablen miteinander vergleichen. 
Um beispielsweise zu überprüfen, ob eine Zahl größer als zwei weitere Zahlen ist, braucht man weitere Logikoperatoren:

* `and`
vergleicht zwei Ausdrücke miteinander und liefert den Wahrheitswert `True`, wenn **alle** Ausdrücke wahr sind.

* `or`
vergleicht zwei Ausdrücke miteinander und liefert den Wahrheitswert `True`, wenn **mindestens ein** Ausdruck wahr ist.

* `not` invertiert einen Ausdruck, wenn er also falsch ist (`False`), ist er jetzt nun wahr (`True`) und umgekehrt.

In [ ]:
print(not True)
print(True and True)
print(True or True)
print((True or not False) and not (True and False))

False
True
True
True

# Aufgabe 2

![](https://meinrusbbucket.s3-eu-west-1.amazonaws.com/dna.PNG)

1. Speichere den oberen DNA-Strang (`ATGACGGATCAGCCGCAAGCGG`) in einer Variable `dna_sequence`
1. Gib die Variable mit dem Funktionsausruf `print()` aus.
1. Gib den vierten Baustein der `dna_sequence` aus.
1. Gib die DNA-Bausteine zwischen Position 4 und 8 aus. 
1. Besteht die `dna_sequence` wirklich nur aus Großbuchstaben? Bitte überprüfe es.
1. Aus wie vielen Bausteinen besteht die `dna_sequence`?
1. Wie häufig kommen die einzelnen DNA-Basen `"A"`, `"C"`, `"G"` und `"T"` vor?
1. Wie häufig kommt das Muster `"GG"` vor ?
1. An welcher Stelle taucht das Muster `"GG"` zum ersten mal auf?
1. Ersetze alle DNA Bausteine `"C"` mit `"A"`. Speicher die Veränderung in einer neuen Variable.
1. Gebe für die obere `dna_sequence` den invertierten 5-3 Strang aus.
1. Erzeuge zwei neue Variablen `dna_seq2` und `dna_seq3`. Jede Variable verfügt genau die Hälfte der DNA-Bausteine von `dna_sequence`. `dna_seq2` soll die erste Hälfte der DNA-Bausteine von `dna_sequence` darstellen. `dna_seq3` soll die zweite Hälfte der DNA-Bausteine von `dna_sequence` darstellen.

In [ ]:
#1.
dna_sequence = "ATGACGGATCAGCCGCAAGCGG"

In [ ]:
#2.
print(dna_sequence)

ATGACGGATCAGCCGCAAGCGG

In [ ]:
#3.
print(dna_sequence[3])

A

In [ ]:
#4.
print(dna_sequence[3:9])
print(dna_sequence[4:8])

ACGGAT
CGGA

In [ ]:
#5.
print(dna_sequence.isupper())

True

In [ ]:
#6.
print(len(dna_sequence))

22

In [ ]:
#7.
print(dna_sequence.count("C"))
print(dna_sequence.count("G"))
print(dna_sequence.count("T"))
print(dna_sequence.count("A"))

6
8
2
6

In [ ]:
#8.
print(dna_sequence.count("GG"))

2

In [ ]:
#9.
print(dna_sequence.index("GG"))

5

In [ ]:
#10.
print(dna_sequence.replace("C", "A"))

ATGAAGGATAAGAAGAAAGAGG

In [ ]:
#11.
#                 [start : ende : schritt]
print(dna_sequence[::-1])
print(dna_sequence[:-1])

GGCGAACGCCGACTAGGCAGTA
ATGACGGATCAGCCGCAAGCG

In [ ]:
#12.
dna_sq2 = dna_sequence[0:11]
dna_sq3 = dna_sequence[11:22]
print(dna_sq2)
print(dna_sq3)

dna_sq2 = dna_sequence[:len(dna_sequence)//2]
dna_sq3 = dna_sequence[len(dna_sequence)//2:]
print(dna_sq2)
print(dna_sq3)

ATGACGGATCA
GCCGCAAGCGG
ATGACGGATCA
GCCGCAAGCGG

# User-Input

Für die Eingabe von Strings über die Tastatur ist in Python die Funktion `input("Anzeigetext")` definiert. Der Parameter Anzeigetext ist ein String, der am Bildschirm angezeigt wird und zur Tastatureingabe auffordern soll.

In [ ]:
input("Anzeigetext")

AnzeigetextHkadsjdhv

'Hkadsjdhv'

# Type Conversion (int <=> str)

Python bietet Typkonvertierungsfunktionen zur direkten Konvertierung von einem Datentyp in einen anderen. Beispielweise kann man einen String in einem Int konvertieren und umgekehrt.



---

`str` in `int` konvertieren

In [ ]:
zahl = int(input("Bitte gebe eine Zahl ein: "))
print(zahl)

Bitte gebe eine Zahl ein: 42
42

---

`int` in `str` konvertieren

In [ ]:
zahl = 42
zahlStr = str(42)

print(type(zahl), type(zahlStr))

<class 'int'> <class 'str'>

## Aufgabe 3
1. Schreibe ein Programm, das den Nutzer dazu auffordert zwei Zahlen einzugeben. Speichern Sie diese in zwei unterschiedlichen Variablen. Das Programm soll danach die beiden Werte addieren und
ausgeben.

  Beispiel: Nutzer gibt die Zahlen: 10 und 5 ein.  
Ausgabe `15`

2. 
Bei der Ausgabe vor dem Ergebnis soll nun zusätzlich "Ergebnis: " stehen.

  Beispiel: Nutzer gibt die Zahlen: 10 und 5 ein.  
Ausgabe `Ergebnis: 15`

In [ ]:
# 3.1
zahl1 = int(input("Erste Zahl: "))
zahl2 = int(input("Zweite Zahl: "))
print(zahl1 + zahl2)

Erste Zahl: 5
Zweite Zahl: 10

In [ ]:
# 3.2
print(f"Ergebnis \n {zahl1 + zahl2}")

Ergebnis
 15

# Datenstrukturen

Datenstrukturen können eine Ansammlung von Daten speichern. Sie kommen zum Einsatz, wenn man bei der Datenerfassung mit einer Vielzahl von Daten arbeitet.


<img src= https://colabpython.s3.eu-west-1.amazonaws.com/Untitled+presentation.png>

## Listen 
Mt Hilfe von Listen kann man **mehrere Werte zusammenfassen**.
Listen werden in eckigen Klammern geschrieben und die einzelnen Einträge durch Kommata voneinander getrennt. Eine Liste kann als Inhalte unterschiedliche Datentypen aufnehmen.

![](https://colabpython.s3-eu-west-1.amazonaws.com/lists.PNG)

### Listen-Methoden

![](https://www.ecowoman.de/images/stories/Gesundheit/exotische_Fruechte_760.jpg)

In [ ]:
fruits1 = ["Apfel 🍎", "Kiwi 🥝", "Banane 🍌"]
fruits2 = ["Melone 🍉", "Pfirsich 🍑"]
print(fruits1)

['Apfel 🍎', 'Kiwi 🥝', 'Banane 🍌']



---
`.extend()`

In [ ]:
# Füge alle Elemente der Liste fruits2 der Liste fruits1 hinzu
fruits1.extend(fruits2)
print(fruits2)
print(fruits1)

['Melone 🍉', 'Pfirsich 🍑']
['Apfel 🍎', 'Kiwi 🥝', 'Banane 🍌', 'Melone 🍉', 'Pfirsich 🍑', 'Melone 🍉', 'Pfirsich 🍑', 'Melone 🍉', 'Pfirsich 🍑']



---
`.append()`

In [ ]:
# Hänge der Liste das Element "Balubeere" an
fruits2.append("Balubeere")
print(fruits2)

['Melone 🍉', 'Pfirsich 🍑', 'Balubeere', 'Balubeere']



---
`.insert()`

In [ ]:
# Fügt der Liste am Index 3 das Element "Orange" hinzu
fruits2.insert(3, "Orange")
fruits2.insert(0, "Erdbeere")
print(fruits2)

['Erdbeere', 'Melone 🍉', 'Pfirsich 🍑', 'Balubeere', 'Orange', 'Orange', 'Balubeere']



---
`.pop()`

In [ ]:
# Gibt das letzte Element zurück
fruit = fruits2.pop()
print(fruit)
print(fruits2)

Orange
['Erdbeere', 'Melone 🍉', 'Pfirsich 🍑', 'Balubeere', 'Orange']



---
`.remove()`

In [ ]:
# Entfernt das Element "Erdbeere"
fruits2.remove("Erdbeere")
print(fruits2)

['Melone 🍉', 'Pfirsich 🍑', 'Balubeere', 'Orange']



---
`.reserve()`

In [ ]:
# kehrt die Liste um
fruits2.reverse()
print(fruits2)

['Orange', 'Balubeere', 'Pfirsich 🍑', 'Melone 🍉']



---
`.sort()`

In [ ]:
fruits2.sort()
print(fruits2)

zahlen = [10, 4, 12, 42]

# sotiert alpha-numerisch
zahlen.sort()

print(zahlen)

['Balubeere', 'Melone 🍉', 'Orange', 'Pfirsich 🍑']
[4, 10, 12, 42]



---
`.clear()`

In [ ]:
print(fruits1)

# löscht alle Elemente der Liste
fruits1.clear()

print(fruits1)

['Apfel 🍎', 'Kiwi 🥝', 'Banane 🍌', 'Melone 🍉', 'Pfirsich 🍑', 'Melone 🍉', 'Pfirsich 🍑', 'Melone 🍉', 'Pfirsich 🍑']
[]



---


`del` keine Methode sondern ein keyword

In [ ]:
fruits = ["Blaubeere", "Erdbeere", "Orange"]

# löscht das Element am Index 1
del fruits[1]

print(fruits)

['Blaubeere', 'Orange']

### Mehrdimensionale Listen

Mehrdimensionale Listen sind **übergeordnete Datenstrukturen**.
übergeordnete Datenstrukturen enthalten mindestens eine Datenstruktur.
Im Unteren Beispiel werden drei Listen einer Liste zugewiesen.


![](https://colabpython.s3.eu-west-1.amazonaws.com/bild+(1).png)

In [ ]:
fruits = ["Orange", "Erdbeere", "Apfel"]
zahlen = [10, 1, 12, 15]
matrix = [fruits, zahlen]
print(matrix)

mix = ["Apfel", 42, 14.5]
print(mix)

[['Orange', 'Erdbeere', 'Apfel'], [10, 1, 12, 15]]
['Apfel', 42, 14.5]

## Tupel

Tupel sind Datenstrukturen, die unveränderlich sind ("immutable"). Dieser Datentyp wird unter anderem verwendet, um unbeabsichtigte Veränderungen zu vermeiden.

![](https://colabpython.s3-eu-west-1.amazonaws.com/tuples.PNG)

In [ ]:
tupel = ("Apfel", "Orange", "Erdbeere")
print(tupel[0])

Apfel



---


Listen vs. Tupel

In [ ]:
# Tupel sind read-only und damit kleiner

import sys 

x = [1,2,3,4,5,6]
y = (1,2,3,4,5,6,1)

print(sys.getsizeof(x))
print(sys.getsizeof(y))

120
112

### Tupel-Methoden



---
`.count()`

In [ ]:
# Zählt das vorkommen des Elements 1 in y 
print(y.count(1))

2



---
`.index()`

In [ ]:
y = (1,2,3,4,5,6,1)
print(y.index(2))

1

### Mehrdimensionale Tupel

In [ ]:
matrix = ( (2, 3), (4, 5) )
print(type(matrix))

<class 'tuple'>

## Dictionaries

Dictionaries ähneln vereinfacht einem Wörterbuch. Unter einem jeweiligen Eintrag (Schlüssel) findet man im Wörterbuch eine dazu passende Beschreibung des Eintrags (Wert).

Beispiel aus einem Wörterbuch:

> **Informatik:** "Darstellung, Speicherung, Verarbeitung und Übertragung von Informationen"
>
> **Automatisierungstechnik:** "Verfahren zur selbstständigen Steuerung technischer Anlagen"

Die Einträge des Dictionary werden als "key" bezeichnet, die Beschreibungen als "value". Jeder Schlüssel ist einzigartig und kann nur einmal vorkommen.

![](https://colabpython.s3-eu-west-1.amazonaws.com/dictionaries.PNG)

In [ ]:
dictionary = { "key": "value", "key2": 42 }
print(dictionary)

{'key': 'value', 'key2': 42}

### Dictionary-Methoden



---
`.keys()`

In [ ]:
# Gibt alle Schlüssel zurück
print(dictionary.keys())

dict_keys(['key', 'key2'])



---
`.values()`

In [ ]:
# Gibt alle Werte zurück
print(dictionary.values())

dict_values(['value', 42])



---
`.items()`

In [ ]:
# Gibt alle Items als Tupel zurück: (key, value)
items = dictionary.items()
print(list(items)[0][1])

value



---
`.get()`

In [ ]:
# Gibt den Wert an der Stelle "key"
print(dictionary.get("key"))

value

### Mehrdimensionale Dictionaries

Mehrdimensionale Dictionaries sind **übergeordnete Datenstrukturen**.
übergeordnete Datenstrukturen enthalten mindestens eine Datenstruktur.
Im unteren Beispiel werden drei Dictionaries einem Dictionary zugewiesen.

In [ ]:
matrix = { 
    "zeile1": { "frucht1": "Apfel", "frucht2": "Orange" },
    "zeile2": { "zahl1": 42, "zahl2": 64.5 }
 }
print(matrix)

{'zeile1': {'frucht1': 'Apfel', 'frucht2': 'Orange'}, 'zeile2': {'zahl1': 42, 'zahl2': 64.5}}

### Aufgabe 4

1. Definiere eine Variable mit allen Monaten eines Kalendarjahres.
Verwende als Schlüssel die Monatsabkürzungen (drei Buchstaben) und als Wert die Monate.

  Verwende ebenfalls die Methoden:  

  *   `.keys() `
  *   `.values()`
  *   `.items()` und 
  *   `.get()`

1. Stelle dir vor, du schreibst ein Programm für die Verwaltung der Bestände eines Buchhändlers. Zu jedem Buch sollen der Titel, der Autor,
eine Artikelnummer und der Preis gespeichert werden. Schreibe drei Programme, die jeweils eine Liste, ein Dictionary bsw. ein Tupel verwenden. Jedes Programm soll die Werte für drei Bücher abspeichern und die Daten anschließend auf dem Bildschirm ausgeben.  

  Die Ausgabe soll dabei nicht als komplette Liste erfolgen, sondern jeder Wert soll in einer eigenen Zeile stehen. Nach jedem Buch soll eine Leerzeile folgen. Dazu dient das Zeichen `\n`.

1. Speichere die Bücher nun in einer übergeordneten Datenstruktur ab. Auch hier sollen bei der Ausgabe alle Werte in einer eignen Zeile stehen. Verwende Sie dazu eine Liste mit drei Elementen. Die Elemente der Liste sind jene Dictionaries, die in der Aufgabe zuvor erstellt wurden.  

  Die Ausgabe soll dabei nicht als komplette Liste erfolgen, sondern jeder Wert
soll in einer eigenen Zeile stehen. Nach jedem Buch soll eine Leerzeile folgen. Dazu dient das Zeichen `\n`.

**Beispielbücher**

| Autor | Titel | Artikelnr. | Preis |
|-------|-------|------------|-------|
| Marten van Steen, Andrew S. Tanenbaum | Distributed Systems | 5385 | 34.24 |
| Andrew S. Tanenbaum | Modern Operating Systems, 4th Edition | 9954 | 36.90 |
| Noni Rizopoulou | Academic English for Computer Science | 3229 | 15.49 |

In [ ]:
# 4.1 

# Definiere eine Variable mit allen Monaten eines Kalendarjahres. 
# Verwende als Schlüssel die Monatsabkürzungen (drei Buchstaben) und 
# als Wert die Monate.

monthConversions = {
    "Jan" : "Januar",     # Key : Value
    "Feb" : "Februar",
    "Mär" : "März",
    "Apr" : "April",
    "Mai" : "Mai",
    "Jun" : "Juni",
    "Jul" : "Juli",
    "Aug" : "August",
    "Sep" : "September",
    "Nov" : "November",
    "Dez" : "Dezember"
    }

In [ ]:
# 4.2

# Schaut hier bitte in die Musterlösung, weil keiner Lust hatte das 
# alles abzutippen. :D

# Mit Listen:

author = "Marten van Steen, Andrew S. Tanenbaum"
title = "Distributed Systems"
artikelnummer = 5358
preis = 34.24
block = [author, title, artikelnummer, preis]

buch1 = ["Marten van Steen, Andrew S. Tanenbaum", "Distributed Systems", 5358, 34.24]
print(buch1)

print(buch1[0], buch1[1], buch1[2], buch1[3], "\n")
print(type(buch1))


# Mit Tupeln:

buch1 = ("Marten van Steen, Andrew S. Tanenbaum", "Distributed Systems", 5358, 34.24)
print(buch1)

print(buch1[0], buch1[1], buch1[2], buch1[3], "\n")
print(type(buch1))





# Mit Dictionaries


dc = { 5358:("Marten van Steen, Andrew S. Tanenbaum", "Distributed Systems", 34.24) }

buch1 = { "author":"Marten van Steen, Andrew S. Tanenbaum",
         "title": "Distributed Systems",
         "artikelnummer": 5358,
         "preis": 34.24
         }

['Marten van Steen, Andrew S. Tanenbaum', 'Distributed Systems', 5358, 34.24]
Marten van Steen, Andrew S. Tanenbaum Distributed Systems 5358 34.24

<class 'list'>
('Marten van Steen, Andrew S. Tanenbaum', 'Distributed Systems', 5358, 34.24)
Marten van Steen, Andrew S. Tanenbaum Distributed Systems 5358 34.24

<class 'tuple'>

In [ ]:
# 4.3

# List => dictionarys



# Dictionary => Lists



# Dictionary => Dictionarys


print("Hallo", "Welt", sep="\t", end=";")
print("Test")

Hallo	Welt;Test

## Set

Ein Element kann in einem set-Objekt nicht mehrmals vorkommen, was bei Listen und Tupel jedoch möglich ist

In [ ]:
zahlen = {"key", "value", "key", "Banane", 42, 21, "Banane", 42}
print(zahlen)

{'key', 42, 21, 'Banane', 'value'}

# Type Conversion (list ↔ dict) mit `zip()`

In [ ]:
fruits = [("Apfel", "Birne"), "Pear 🍐", "Peach 🍑", "Banana 🍌"]
prices = [0.35, 0.40, 0.40, 0.28]

angebot = dict(zip(prices, fruits))
print(angebot)

{0.35: ('Apfel', 'Birne'), 0.4: 'Peach 🍑', 0.28: 'Banana 🍌'}

---
`list` &rarr; `dict`



---
`dict` => `list`

In [ ]:
print(list(angebot.items()))

[(0.35, ('Apfel', 'Birne')), (0.4, 'Peach 🍑'), (0.28, 'Banana 🍌')]

# `if`-"else" -Bedingungen
`if`-Bedingungen dienen zur bedingten Ausführung von Codeabschnitten. Ist die Bedingung wahr, wird ein der Code ausgeführt.

`if`-Blöcke werden mit dem Schlüsselwort `if` eingeleitet.
Ist die Bedingung nicht wahr, so kann man mithilfe des Schlüsselworts `else`
ausdrücken, was ansonsten passieren sollen. Dies entspricht "Wenn... dann... ansonsten..."-Bedingungen aus der natürlichen Sprache.

Beispiel: Wenn morgen die Sonne scheint, gehe ich ins Kino (`if`), ansonsten bleibe ich zuhause (`else`).

Der `else`-Block ist optional. Das heißt, eine `if`-Bedingung funktioniert auch ohne einen `else`-Block.

In [ ]:
zahl = int(input("Gebe eine Zahl ein: "))

if zahl < 100:
  print(f"{zahl} kleiner als 100")
else:
  print(f"{zahl} ist größer gleich 100")

Gebe eine Zahl ein: 200
200 ist größer gleich 100



---
**Mehrere If-Anweisungen**

*   36,5°C - 38,0°C: Normal-Temperatur
*   38,1°C - 38,5°C: Leichtes Fieber
*   38,6°C - 39,0°C: Mäßiges Fieber
*   39,1°C - 39,9°C: Hohes Fieber
*   40,0°C - 42,0°C: Sehr hohes Fieber

In [ ]:
grad = 38.55

if grad <= 38.0 and grad >= 36.5:
  print("Normal-Temperatur")
elif grad >= 38.1 and grad <= 38.5:
  print("Leichtes Fieber")
elif grad >= 38.6 and grad <= 39.0:
  print("Mäßiges Fieber")
elif grad >= 39.1 and grad <= 39.9:
  print("Hohes Fieber")
elif grad >= 40.0:
  print("Sehr hohes Fieber")
else:
  print("Unterkühlt")

Unterkühlt

## `elif`-Blöcke 

`elif`-Blöcke werden **nur** dann ausgeführt, wenn die vorherige Abfrage `False` und die eigene Bedingung `True` ist.

## Aufgabe 5

Bearbeiten Sie die folgenden Aufgaben:

a) Claudia hat 12 Flaschen Limonade für ihre Geburtstagsfeier gekauft. Jede Flasche enthält $\frac{3}{4}$ Liter Limonade. Sie füllt je $\frac{1}{5}$ Liter in die Gläser ihrer Gäste. Wie viele Gläser kann Claudia füllen?

b) Leon und Max schwimmen 1000m um die Wette. Leon hat bereits $\frac{3}{8}$ und Max $\frac{2}{5}$ der Strecke zurückgelegt. Wie viele müssen Leon und Max jeweils noch schwimmen? Wer liegt in Führung?

In [ ]:
# Teilaufgabe a)
limonade = 12 * 3/4
gäste = limonade / 0.2
print(gäste)

# Teilaufgabe b)
# Gesamt - (Gesamt * Fortschrit) = Geschwommene Strecke
leon = 1000 - (1000 * 3/8)
max = 1000 - (1000 * 2/5)
print(f"Leon: {leon}, Max: {max}")

if max < leon:
  print("Max liegt in Führung!")
elif leon < max:
  print("Leon liegt in Führung!")
else:
  print("Gleichstand")

45.0
Leon: 625.0, Max: 600.0
Max liegt in Führung!

## Aufgabe 6

![](https://colabpython.s3-eu-west-1.amazonaws.com/ListeAufgabe.PNG)

1. Jemand möchte sich eines der vier oben abgebildeten Tablet-Modelle kaufen. Schreibe ein Programm, dass den Käufer nach einem Maximalpreis fragt, den er höchstens für das Tablet zahlen will.

  Das Programm soll nun alle Tablets mit ihren Eigenschaften ausgeben, deren Preis kleiner oder gleich dem Maximalpreis ist.

1. Schreibe ein Programm, das dem Anwender fünf einfache Rechenaufgaben stellt. Überprüfe die Eingabe. Wenn das Ergebnis richtig ist, erhält der Anwender einen Punkt. Gib nach dem Ende
der Aufgaben eine Bewertung aus:

| Punkte  | Bewertung |
|---------|-----------|
| 0       | `Dringend Nachhilfe benötigt!` |
| 1 bis 2 | `Viele Fehler: weitere Übung erforderlich!` |
| 3 bis 4 | `Gute Leistung!` |

In [ ]:
# 6.1

preis = int(input("Maximalpreis "))

# Dies müsste man einmal für alle Tablets machen... Keine Lust xD
tablet1 = ("Galaxy Tablet A", "Samsung", "TFT", "60 Hz", "10,1", "210")

# Oder einmal ald Dictionary
tabltes = {
    "Galaxy Tablet A": {
        "Marke": "Samsung",
        "Display": "TFT",
        "Display Hz": 60,
        "Größe": 10.1,
        "Preis": 210,
    }
    # "Anderes Tablet": { ... }
}

# Wenn man die anderen Tablets definiert hätte:
if preis >= 955:
  print(tablet1, tablet2, tablet3, tablet4, sep="\n")
elif preis >= 510:
  print(tablet1, tablet3, tablet4, sep="\n")
elif preis >= 500:
  print(tablet1)
else:
  print("None")

In [ ]:
# 6.2

punkte = 0

e1 = int(input("Wie viel ist 1+1? "))
if e1 == 2:
  punkte += 1

e1 = int(input("Wie viel ist 1+2? "))
if e1 == 3:
  punkte += 1

e1 = int(input("Wie viel ist 1+3? "))
if e1 == 4:
  punkte += 1

e1 = int(input("Wie viel ist 1+4? "))
if e1 == 5:
  punkte += 1

#punktzahl = ( punkte.count(1) )

print("Du hast alle Fragen beantwortet. Deine Punktzahl lautet:", punkte)
if punkte == 0:
  print("Dringend Nachhilfe benötigt!")
elif punkte == 1 or punkte == 2:
  print("Viele fehler, weitere Übung erforderlich.")
elif punkte >= 3:
  print("Gute Leistung")

# Schleifen 

In Python werden die Befehle (statements) in einer Reihenfolge von oben nach unten durchgeführt. Wenn man eine Menge von Befehlen mehrmals durchführen möchte, kann man sogennate Schleifen benutzen.

## `for`-Schleife 

Schleifen können verwendet werden, um über eine Folge von Liste, Zeichenkette, Tupel und Dictionary zu iterieren.

_`for`-Schleifen in Python unterscheiden sich von denen in anderen Programmiersprachen. In Python gibt es keine C-ähnliche Syntax für `for (i = 0; i<n; i++)`._

---
über **Strings** iterieren 

![](https://colabpython.s3-eu-west-1.amazonaws.com/txt.PNG)

In [ ]:
txt = "Informatik"

for i in range(5):
  print(txt[i])

print()
for i in txt:
  print(i)

I
n
f
o
r

I
n
f
o
r
m
a
t
i
k

---
über **Listen** und **Tupel** iterieren

In [ ]:
#über listen iterieren 
liste1 = ["Apfel", "Banane", "Kiwi"]
print(liste1[0])
print(liste1[1])
print(liste1[2])

for obstsorten in liste1:
  print(obstsorten)

Apfel
Banane
Kiwi
Apfel
Banane
Kiwi

---
über **Dictionaries** iterieren

In [ ]:
social_media = {
    "Facebook": 2004,
    "Instagram": 2010,
    "Twitter": 2006,
    "TikTok": 2016,
    "Qzone": 2005,
    "Weibo": 2009,
    "Pinterest": 2010
}

#for i in social_media:
#  print(i)

for i in social_media.keys():
  print(i)

print("")
for i in social_media.values():
  print(i) 

print("")

for key,value in social_media.items():
  print(key, value)

Facebook
Instagram
Twitter
TikTok
Qzone
Weibo
Pinterest

2004
2010
2006
2016
2005
2009
2010

Facebook 2004
Instagram 2010
Twitter 2006
TikTok 2016
Qzone 2005
Weibo 2009
Pinterest 2010

---
über **Zahlenbereiche** iterieren 

![](https://colabpython.s3-eu-west-1.amazonaws.com/zahlenit1.PNG)

In [ ]:
zahl = 10

for i in range(10, 101, 5):
  print(i)

10
15
20
25
30
35
40
45
50
55
60
65
70
75
80
85
90
95
100

---
Über übergeordnete Datenstrukturen iterieren

In [ ]:
matrix = [
  [1, 2, 3],
  [4, 5, 6],
  [7, 8, 9]
]

# Für jede Zeile i in der Matrix ...
for i in matrix:
  print(i)      # ... gebe Zeile i aus und ...
  for j in i:   # ... für jedes Element j der Zeile i ...
    print(j)    # ... gebe das Element j aus.

# Alternative Schreibweise (nur Elemente):
print(*(j for i in matrix for j in i))

1 2 3 4 5 6 7 8 9


### über Intervalle iterieren
![](https://colabpython.s3-eu-west-1.amazonaws.com/zahlenit2.PNG)

In [ ]:
x = 10

for i in range(0,x,3):
  print(i)

In [ ]:
liste = ["a","b","c","d","e",2,False]

for i in liste[2:len(liste):2]:
  print(i)

for i in range(2, len(liste)+1, 2):
  print(liste[i])

c
e
False
c
e
False

### Aufgabe 7

Schreibe ein Programm, dass alles geraden und ungeraden Zahlen von 0 bis 100 ausgibt:

Ausgabe:

```
0 ist gerade
1 ist ungerade
...
```

In [ ]:
# for x in range(101):
#   if x%2 == 0:
#     print(x, "ist gerade.")
#   else:
#     print(x, "ist ungerade.")
# print()

#for zahl in range(100):
  # print --  Das hier ----  WENN     True  Anderfalls -- Das hier --
#  print(f"{zahl} ist gerade" if zahl%2 == 0 else f"{zahl} ist ungerade.")

x = 101

for i in range(0, x, 2):
  print(i, "ist gerade.")
  print(i+1, "ist ungerade.")

#for j in range(1, x, 2):
#  print(j, "ist ungerade.")

0 ist gerade.
1 ist ungerade.
2 ist gerade.
3 ist ungerade.
4 ist gerade.
5 ist ungerade.
6 ist gerade.
7 ist ungerade.
8 ist gerade.
9 ist ungerade.
10 ist gerade.
11 ist ungerade.
12 ist gerade.
13 ist ungerade.
14 ist gerade.
15 ist ungerade.
16 ist gerade.
17 ist ungerade.
18 ist gerade.
19 ist ungerade.
20 ist gerade.
21 ist ungerade.
22 ist gerade.
23 ist ungerade.
24 ist gerade.
25 ist ungerade.
26 ist gerade.
27 ist ungerade.
28 ist gerade.
29 ist ungerade.
30 ist gerade.
31 ist ungerade.
32 ist gerade.
33 ist ungerade.
34 ist gerade.
35 ist ungerade.
36 ist gerade.
37 ist ungerade.
38 ist gerade.
39 ist ungerade.
40 ist gerade.
41 ist ungerade.
42 ist gerade.
43 ist ungerade.
44 ist gerade.
45 ist ungerade.
46 ist gerade.
47 ist ungerade.
48 ist gerade.
49 ist ungerade.
50 ist gerade.
51 ist ungerade.
52 ist gerade.
53 ist ungerade.
54 ist gerade.
55 ist ungerade.
56 ist gerade.
57 ist ungerade.
58 ist gerade.
59 ist ungerade.
60 ist gerade.
61 ist ungerade.
62 ist gerade.
63 ist ungerade.
64 ist gerade.
65 ist ungerade.
66 ist gerade.
67 ist ungerade.
68 ist gerade.
69 ist ungerade.
70 ist gerade.
71 ist ungerade.
72 ist gerade.
73 ist ungerade.
74 ist gerade.
75 ist ungerade.
76 ist gerade.
77 ist ungerade.
78 ist gerade.
79 ist ungerade.
80 ist gerade.
81 ist ungerade.
82 ist gerade.
83 ist ungerade.
84 ist gerade.
85 ist ungerade.
86 ist gerade.
87 ist ungerade.
88 ist gerade.
89 ist ungerade.
90 ist gerade.
91 ist ungerade.
92 ist gerade.
93 ist ungerade.
94 ist gerade.
95 ist ungerade.
96 ist gerade.
97 ist ungerade.
98 ist gerade.
99 ist ungerade.
100 ist gerade.
101 ist ungerade.

### Aufgabe 8

Überführe die DNA-Sequenz "ATGACGGATCAGCCGCAAGCGGGG" in die korrekte Petitkette



---


#### 8.1 DNA-Sequenz definieren

<img src="https://meinrusbbucket.s3-eu-west-1.amazonaws.com/dna.PNG" align = "left" width="330" height="330">

In [ ]:
# 8.1
dna = "ATGACGGATCAGCCGCAAGCGGGG"



---


#### 8.2 Transkription

![](https://upload.wikimedia.org/wikipedia/commons/thumb/3/36/DNA_transcription.svg/820px-DNA_transcription.svg.png)

In [ ]:
#8.2

# RNA bilden:
#  Schritt 1: Inverse bilden

dnaI = dna[::-1]
print(dna)
print(dnaI)

#  Schritt 2: C <-> G, A -> U, T -> A
#  Am Ende: ACG UUG ...

dnaK = dnaI.replace("C", "g")
dnaK = dnaK.replace("G", "C")
dnaK = dnaK.replace("A", "U")
dnaK = dnaK.replace("T", "A")
dnaK = dnaK.upper()

print(dnaK)

ATGACGGATCAGCCGCAAGCGGGG
GGGGCGAACGCCGACTAGGCAGTA
CCCCGCUUGCGGCUGAUCCGUCAU



---


#### 8.3 Translation

![](https://upload.wikimedia.org/wikipedia/commons/7/70/Aminoacids_table.svg)

In [ ]:
#8.3

# Ende: Thr-Asn-Lys ...

a = 0
b = 3

for i in range(len(dnaK)//3):
  print(dnaK[a:b]) # Tripplet

  dna1 = dnaK[a:b-2] # erster Buchstabe
  dna2 = dnaK[a+1:b-1] # zweiter Buchstabe
  dna3 = dnaK[a+2:b] # dritter Buchstabe

  a = a + 3 # gehe ein Tripllet weiter
  b = b + 3

  #      Arg wenn Triplett == CG*
  print("Arg (R)" if dna1 == "C" and dna2 == "G" else "", end="")

# Dictionary = { "Tripplet": "Protein" }
proteine = {
    "AGG": "ARG",
    ...
}

#seq = []
for i in range(0, len(dnaK), 3):
  #seq.append(dnaK[i:i+3])

  triplet = dnaK[i:i+3]

  print(proteine.get(triplet))

CCC
CGC
Arg (R)UUG
CGG
Arg (R)CUG
AUC
CGU
Arg (R)CAU

## `while`-Schleife

Eine `while`-Schleife führt ihre Anweisungen aus, solange ihre Bedingung erfüllt ist.

In [ ]:
alter = int(input("Bitte Alter eingeben:"))

while alter < 18:
  print("Sie dürfen das Spiel nicht kaufen. ")
  alter = int(input("Bitte Alter eingeben:"))

print("Sie dürfen das Spiel kaufen")

Bitte Alter eingeben:Tim

ValueError: ignored

# `try` und `except`

Mit dem `try`-Block kann man Fehler abfangen, sobald sie auftreten. Bei einem Fehler wird der Inhalt des `except`-Blocks ausgeführt.

In [ ]:
try:
  # Versuche diesen Code auszuführen
  alter = int(input("Bitte geben Sie ihr ALter an: "))
  print(alter)
except ValueError:
  # Wenn ein ValueError aufgetreten ist, dann mache folgendes:
  print("Bitte gebe eine Zahl ein!")
except:
  # Wenn irgendein Error aufgetreten ist:
  print("Ein Fehler ist aufgetreten!")

Bitte geben Sie ihr ALter an: 
Ein Fehler ist aufgetreten!

# `break`, `continue` und `pass`

* `break`: Die `break`-Anweisung beendet die aktuelle Schleife und setzt die Ausführung nach der Schleife Anweisung fort.
* `continue`: Die `continue`-Anweisung bricht den aktuellen Schleifendurchlauf ab und beginnt den nächsten.
* `pass`: Die `pass`-Anweisung ist ein Platzhalter für leere Codeblöcke in z.B. Schleifen oder Bedingungen.



---

`break`

In [ ]:
for i in "Python":
  if i == "t":
    break
  print(i)

P
y
t
h
o
n



---


`continue`

In [ ]:
for i in "Python":
  if i == "t":
    continue
  print(i)



---
`pass`

In [ ]:
for i in "Python":
  if i == "t":
    pass
  print(i)

## Aufgabe 9


Erstelle eine Passwort-Abfrage, bei der das Passwort nur aus Ziffern besteht.

Bei drei Fehleingaben erscheint die Botschaft ("three times wrong"). Wenn der Nutzer Zeichenketten eingibt, zählt dies nicht als Fehlversuch. Wenn der Nutzer das Passwort richtig eingibt, erscheint die Botschaft "nice!".

In [ ]:
#Lösung

zähler = 3

while zähler > 0:
  passwort = input("Bitte geben Sie ihr Passwort ein: ")
  if passwort != "332002":
    print("Falsches Passwort - noch", zähler-1, "Versuche")
  else:
    print("Login erfolgreich!")
    break
  zähler -= 1

Bitte geben Sie ihr Passwort ein: 1
Falsches Passwort - noch 2 Versuche
Bitte geben Sie ihr Passwort ein: 2
Falsches Passwort - noch 1 Versuche
Bitte geben Sie ihr Passwort ein: 4
Falsches Passwort - noch 0 Versuche

# Funktionen

Mit Funktionen können Anweisungen gruppiert und wiederverwendet werden. Funktionen können Werte als Parameter erhalten und einen Wert zurückgeben.

In [ ]:
def addition(zahl:int, zahl2:int) -> int:
  print(zahl, zahl2)
  return zahl + zahl2

def eigenesPrint(string:str):
  print(string, end="\t.")

a = addition(5, 10)
print(a)
eigenesPrint("A hat den Wert: " + str(a))

5 10
15
A hat den Wert:15	.

## Aufgabe 10


Bestimmen Sie, welche der folgenden Zahlen natürliche, ganze, rationale, reelle oder komplexe Zahlen sind. (Geben Sie jeweils alle zutreffenden Bezeichnungen an.)

  a) $3$
  
  b) $-3$
  
  c) $-\frac{8}{2}$
  
  d) $\frac{4}{10}$
  
  e) $π$

  f) $2i$

Schreiben Sie eine Funktion, die ausgibt, zu welchen Zahlbereichen die Eingabe gehört und testen Sie diese an obigen Zahlen.

In [ ]:
import math

def klassifiziereZahlenbereich(eingabe):
  
  try:
    if type(eingabe) == int and eingabe >= 0:
      print(f"{eingabe} ist eine natürliche Zahl.")
    elif type(eingabe) == complex:
      print(f"{eingabe} ist eine komplexe Zahl.")                          
                              # einagbe / 1 -> KEINEN Rest
    elif type(eingabe) == int or eingabe%1 == 0.0:
      print(f"{eingabe} ist eine ganze Zahl.")
    elif type(eingabe) == float:
      print(f"{eingabe} ist möglicherweise eine rationale (oder reelle) Zahl.")
  except:
    print("Bitte gebe eine Zahl ein!")

# a)
klassifiziereZahlenbereich(3)

# b)
klassifiziereZahlenbereich(-1)

# c)
klassifiziereZahlenbereich(-(8/2))

# d)
klassifiziereZahlenbereich(4/10)

# e)
klassifiziereZahlenbereich(math.pi)

# f)
klassifiziereZahlenbereich(2j)

klassifiziereZahlenbereich("Tim")

3 ist eine natürliche Zahl.
-1 ist eine ganze Zahl.
-4.0 ist eine ganze Zahl.
0.4 ist möglicherweise eine rationale (oder reelle) Zahl.
3.141592653589793 ist möglicherweise eine rationale (oder reelle) Zahl.
2j ist eine komplexe Zahl.
Bitte gebe eine Zahl ein!

## Aufgabe 11

Google Interview Question 

<img src="https://codinginterview.s3-eu-west-1.amazonaws.com/google-removebg-preview+(1).png" align = "left" width="300" height="">

Erstelle eine Funktion, die dir errechnet wie viele Münzen du für eine Bestimmte Eingabe von Cents erhältst.



>Beispiel: 200 Cent = eine 2€ Münze

>`Anzahl der Münzen: 1`



>Beispiel: 250 Cent = eine 2€ Münze und eine 50 Cent Münze

>` Anzahl der Münzen: 2`

>Beispiel: 75 Cent = eine 50 Cent Münze, eine 20 Cent Münze, eine 5 Cent Münze                                                                                                                                    
>`Anzahl der Münzen: 3`

In [ ]:
def zähleMünzen(anzahl):
  münzen = [200, 100, 50, 20, 10, 5, 1]
  anzahlmünzen = 0

  for münze in münzen:
    anzahlmünzen = anzahlmünzen + anzahl // münze
    anzahl = anzahl % münze

  return anzahlmünzen


cents = int(input("Anzahl der Cents: "))
print(f"Anzahl der Münzen beträgt: {zähleMünzen(cents)}")

Anzahl der Cents: 350
Anzahl der Münzen beträgt: 3

# `import` Anweisung

# Klassen

Python ist eine objekt-orientierte Programmiersprache. Dies bedeutet dass in Pythen nahezu alles ein Objekt ist. Beispiele sind `str`, `int` oder `list` welche Objekt-Typen (= Klasse) sind. Wenn wir ein neues Objekt erzeugen bspw. `name = "Tim"`, dann ist die Variable `name` eine Instanz der Klasse `str`.

Jedes Objekt besteht aus Attributen (Eigenschaften) und Methoden (Funktionen). Für den Objekt-Typ des `dict` kennen wir beispielsweise die Methode `keys()`. 

Python erlaubt es uns jedoch auch eigene Klassen zu definieren, wozu es das Keyword `class` gibt.

In [ ]:
# Definition der Klasse
class Student():
  name = "Max Mustermann"
  alter = 21
  kurse = ["Vorkurs Informatik", "Informatik 1", "Mathematik 1"]

# Erzeuge ein Objekt (Instanz) der Klasse
schüler = Student()

# Hinweis: print(*liste) <-> print(liste[0], liste[1], ..., liste[-1])  
print(f"Unser Schüler heist {schüler.name}, ist {schüler.alter} Jahre alt und"
      f" in folgende Kurse eingeschrieben:", *schüler.kurse, sep="\n - ", end="\n\n")

Unser Schüler heist Max Mustermann, ist 21 Jahre alt und in folgende Kurse eingeschrieben:
 - Vorkurs Informatik
 - Informatik 1
 - Mathematik 1