![Faculty-of-Computer-Science_Logo_main_ohne-link.png]()

# Erstes Python Programm! ("Hello World")

Wir werden direkt unser erstes Python Programm erstellen und ausführen. 
Mit der Anweisung `print() `können wir uns eigene Sätze ausdenken und diese dann direkt auf dem Bildschirm ausgeben. Einzelne Symbole, Wörte oder ganze Sätze müssen in Anführungszeichen stehen.

Das Hello World Programm besteht nur aus einer einzigen Anweisung, nämlich den Funktionsaufruf `print()`, in dem der auszugebende Text eingetragen wird.

In [ ]:
print("Hello World")

Hello World

In [ ]:
print('Hallo YouTube!')

Hallo YouTube!

Mit der print-Anweisung bitten wir Python, etwas auf unserer Konsole auszugeben.

In [ ]:
print("123")

## Neue Zeile mit "\n"

In [ ]:
 print("Erste Zeile\nZweite Zeile")

# Variablen

In [ ]:
text = "Hallo Welt!"
print(text)

text = "Hallo Vorkurs!"
print(text)

Hallo Welt!
Hallo Vorkurs!

In [ ]:
nummer = 20
print(nummer)

In [ ]:
type("10")

In [ ]:
type(10)

# Datentypen

Datentypen teilen Python mit, um welche Art von Daten es sich handelt.

Die Daten werden **Variablen** zugewiesen. Das bedeutet, dass jede Variable einen bestimmten Datentyp hat. Je nachdem, welche Daten man erzeugt oder verwenden möchte, eignen sich unterschiedliche Datentypen.

### Strings 


Strings sind Ketten von Zeichen. Das kann beispielsweise ein Wort oder ein ganzer Text sein.

Strings müssen entweder durch einfache oder doppelte **Anführungszeichen** abgegrenzt werden. Alle Zeichen zwischen dem öffnenden Trennzeichen und dem  schließenden Trennzeichen sind Teil des Strings.

![](https://colabpython.s3-eu-west-1.amazonaws.com/strings.PNG)

In [ ]:
text

In [ ]:
type(text)

In [ ]:
text_hallo = "Hallo"
name = "Patrik"

print(text_hallo + " " + name)

In [ ]:
text_gesamt = text_hallo + " " + name
print(text_gesamt)

---
**Datentyp bestimmen**

In [ ]:
type(text_gesamt)

---
**Strings miteinander verknüpfen**

In [ ]:
satz1 = "Heute haben wir bewölktes Wetter."
satz2 = "Morgen soll es regnerisch werden."
satz3 = "Übermorgen scheint die Sonne."

print(satz1 + "\n" + satz2 + "\n" + satz3)

---
**Einzelne Zeichen ausgeben (Stringindexing)**

In [ ]:
wort = "Informatik"
print(wort[0])
print(wort[1])
print(wort[2])
print(wort[3])
#print(wort[100])

---

`len()` — **Länge eines Strings bestimmen**

In [ ]:
len(wort)

In [ ]:
length = len(wort)
print(length)

In [ ]:
print(len(wort))

#### String-Methoden

Der Datentyp String verfügt über eine Vielzahl von Methoden. Mann kann Methoden verwenden, um Strings zu **manipulieren** oder um bestimmte Informationen über Strings zu erhalten.



---


`.lower() und .upper()`

In [ ]:
wort="InFormatik"
print(wort.lower())
print(wort.upper())
wort1=wort.lower()
print(wort1)



---


`.count()`

In [ ]:
wort1.count("i")

In [ ]:
wort1.count("I")



---


`.replace()`

In [ ]:
kurs = "Vorkurs Mathematik"
print(kurs.replace("Mathematik", "Informatik"))

In [ ]:
print(kurs)

In [ ]:
city = "Freiburg"
print(city.replace("Frei", "Ham"))



---

`.index()`

In [ ]:
"Informatik".index("o")

In [ ]:
wort = "Informatik"
wort.index("o")

In [ ]:
print(wort1)
wort1.index("i")

In [ ]:
wort1.index("i", 1)



---

`.islower()   .isupper()`

In [ ]:
"informatik".islower()

In [ ]:
"INFORMATIK".isupper()





---
`.isdigit()                                    .isalpha()`

In [ ]:
zahl = "77"

print(zahl.isdigit())
print(zahl.isalpha())

#### Slicing

![](https://colabpython.s3-eu-west-1.amazonaws.com/slicing.PNG)

In [ ]:
name = "Python"
print(name[-1])

In [ ]:
print(wort)
wort[0:4]

In [ ]:
wort[2:6]

In [ ]:
wort = "informatik"
wort = wort[0].upper() + wort[1:10]
print(wort)

In [ ]:
wort[1:]

In [ ]:
wort[0:10:2]

In [ ]:
wort[-1:-11:-1]

In [ ]:
wort[::-1]

## Numbers — `int` und `float`

`int` ist ein Datentyp, welcher ganzzahlige Werte speichern kann.
`float` speichert Fließkommazahlen

![](https://colabpython.s3-eu-west-1.amazonaws.com/Numbers.PNG)



---
**int**

In [ ]:
type(123)

In [ ]:
zahl = 123
print(123)



---


**float**

In [ ]:
pi = 3.141
type(pi)

### Rechenoperationen

---


Addition (+)

Subtraktion (-)

Multiplikation (*)

Ganzzahlige Division (//)

Division (/)
 
Rest einer Division (%)

Potenzieren (**)

In [ ]:
x = 1 + 2
print(x)

In [ ]:
print(zahl + 5)

In [ ]:
result = 123 + 3.141
print(result)
type(result)

In [ ]:
print(3 - 2)

In [ ]:
print(2 * 3)

In [ ]:
-zahl

In [ ]:
print(6 / -3)

In [ ]:
5 / 2

2.5

In [ ]:
6 // -3

In [ ]:
5 // 2

2

In [ ]:
5 % 2

1

In [ ]:
2**2

### int und float- Methoden

In [ ]:
six = 6
six.bit_length()

In [ ]:
max_byte = 255
max_byte.bit_length()

### Arithmetische Funktion

In [ ]:
hex(15)

In [ ]:
pow(2, 8)

In [ ]:
max(10, 13)

In [ ]:
min(10, 13)

In [ ]:
round(2.5)

In [ ]:
round(2.6)

In [ ]:
import math
math.ceil(2.1)

In [ ]:
import math
math.floor(2.9)

## Boolean

Beim Programmieren muss man oft wissen, ob eine Aussage wahr oder falsch ist.

Man kann jeden Ausdruck in Python auswerten und ein Wahrheitswert erhalten.
Entweder erhält man den Wahrheitswert `True` oder `False`.
Mann kann auch Variablen bei der Definition Wahrheitswerte zuweisen.

![](https://colabpython.s3-eu-west-1.amazonaws.com/boolean.PNG)

### Vergleichsoperatoren

Variablen können mithilfe der folgenden Vergleichsoperatoren verglichen werden:

![](https://colabpython.s3-eu-west-1.amazonaws.com/boolverg.PNG)

In [ ]:
var1 = 10
var2 = 5

print(var1 == var2)
print(var1 > var2)
print(var1 >= var2)
print(var1 < var2)
print(var1 <= var2)
print(var1 != var2)

False
True
True
False
False
True

### Logikoperatoren


Häufig möchte man mehrere Variablen miteinander vergleichen. 
Um beispielsweise zu überprüfen, ob eine Zahl größer als zwei weitere Zahlen ist, braucht man weitere Logikoperatoren:

* `and`
vergleicht zwei Ausdrücke miteinander und liefert den Wahrheitswert `True`, wenn **alle** Ausdrücke wahr sind.

* `or`
vergleicht zwei Ausdrücke miteinander und liefert den Wahrheitswert `True`, wenn **mindestens ein** Ausdruck wahr ist.

* `not` invertiert einen Ausdruck, wenn er also falsch ist (`False`), ist er jetzt nun wahr (`True`) und umgekehrt.

In [ ]:
x = 7
y = 8
z = 9

# Aufgabe: 
#1) checke, ob y größer als x und z ist
#2) checke, ob y größer als x oder z ist
#3) checke, ob y größer als x und z. negiere den Ausdruck. 

print(y > x and y > z)  # (True and False) = False 
print(y > x or y > z)  #  (True or False) = True
print(not(y > x and y > z)) # (True and False) = not(False)

# Aufgabe 1

![](https://meinrusbbucket.s3-eu-west-1.amazonaws.com/dna.PNG)

1. Speichere den oberen DNA-Strang (`ATGACGGATCAGCCGCAAGCGG`) in einer Variable `dna_sequence`
1. Gib die Variable mit dem Funktionsausruf `print()` aus.
1. Gib den vierten Baustein der `dna_sequence` aus.
1. Gib die DNA-Bausteine zwischen Position 4 und 8 aus. 
1. Besteht die `dna_sequence` wirklich nur aus Großbuchstaben? Bitte überprüfe es.
1. Aus wie vielen Bausteinen besteht die `dna_sequence`?
1. Wie häufig kommen die einzelnen DNA-Basen `"A"`, `"C"`, `"G"` und `"T"` vor?
1. Wie häufig kommt das Muster `"GG"` vor ?
1. An welcher Stelle taucht das Muster `"GG"` zum ersten mal auf?
1. Ersetze alle DNA Bausteine `"C"` mit `"A"`. Speicher die Veränderung in einer neuen Variable.
1. Gebe für die obere `dna_sequence` den invertierten 5-3 Strang aus.
1. Erzeuge zwei neue Variablen `dna_seq2` und `dna_seq3`. Jede Variable verfügt genau die Hälfte der DNA-Bausteine von `dna_sequence`. `dna_seq2` soll die erste Hälfte der DNA-Bausteine von `dna_sequence` darstellen. `dna_seq3` soll die zweite Hälfte der DNA-Bausteine von `dna_sequence` darstellen.

In [ ]:
dna_sequence = "ATGACGGATCAGCCGCAAGCGG"
print(dna_sequence)

In [ ]:
print(dna_sequence[3])

In [ ]:
print(dna_sequence[3:9])

In [ ]:
print(dna_sequence.isupper())

In [ ]:
print(len(dna_sequence))

In [ ]:
print(dna_sequence.count("A"))
print(dna_sequence.count("C"))
print(dna_sequence.count("G"))
print(dna_sequence.count("T"))

In [ ]:
print(dna_sequence.count("GG"))

In [ ]:
dna_sequence_2 = dna_sequence.replace("C", "A")
print(dna_sequence_2)

In [ ]:
print(dna_sequence[::-1])

In [ ]:
dna_seq2 = dna_sequence[0:11]
dna_seq3 = dna_sequence[11:23]
print(dna_seq2)
print(dna_seq3)

In [ ]:
hälfte = len(dna_sequence) // 2
dna_seq2 = dna_sequence[:hälfte]
dna_seq3 = dna_sequence[hälfte:]
print(dna_seq2)
print(dna_seq3)

# User-Input

Für die Eingabe von Strings über die Tastatur ist in Python die Funktion `input("Anzeigetext")` definiert. Der Parameter Anzeigetext ist ein String, der am Bildschirm angezeigt wird und zur Tastatureingabe auffordern soll.

In [ ]:
name = input("Wie heißt du? ")
alter = input("Wie alt bist du? ")
studiengang = input("Was studierst du? ")

print("Name: " + name)
print("Alter: " + alter)
print("Studiengang: " + studiengang)

# Type Conversion (int <=> str)

Python bietet Typkonvertierungsfunktionen zur direkten Konvertierung von einem Datentyp in einen anderen. Beispielweise kann man einen String in einem Int konvertieren und umgekehrt.



---

`str` in `int` konvertieren

In [ ]:
alter_int = int(alter)

In [ ]:
type(int("1024"))

---

`int` in `str` konvertieren

In [ ]:
print("Alter: " + str(alter_int))

In [ ]:
type(str(alter_int))

## Aufgabe 2
1. Schreibe ein Programm, das den Nutzer dazu auffordert zwei Zahlen einzugeben. Speichern Sie diese in zwei unterschiedlichen Variablen. Das Programm soll danach die beiden Werte addieren und
ausgeben.

  Beispiel: Nutzer gibt die Zahlen: 10 und 5 ein.  
Ausgabe `15`

2. 
Bei der Ausgabe vor dem Ergebnis soll nun zusätzlich "Ergebnis: " stehen.

  Beispiel: Nutzer gibt die Zahlen: 10 und 5 ein.  
Ausgabe `Ergebnis: 15`

In [ ]:
# 2.1
x = int(input("Erste Zahl: "))
y = int(input("Zweite Zahl: "))
print(x + y)

In [ ]:
# 2.2
x = int(input("Erste Zahl: "))
y = int(input("Zweite Zahl: "))
text = "Ergebnis: " + str(x + y)
print(text)

In [ ]:
# 2.2
x = int(input("Erste Zahl: "))
y = int(input("Zweite Zahl: "))
print("Ergebnis:", x + y)

# Datenstrukturen

Datenstrukturen können eine Ansammlung von Daten speichern. Sie kommen zum Einsatz, wenn man bei der Datenerfassung mit einer Vielzahl von Daten arbeitet.


<img src= https://colabpython.s3.eu-west-1.amazonaws.com/Untitled+presentation.png>

## Listen 
Mt Hilfe von Listen kann man **mehrere Werte zusammenfassen**.
Listen werden in eckigen Klammern geschrieben und die einzelnen Einträge durch Kommata voneinander getrennt. Eine Liste kann als Inhalte unterschiedliche Datentypen aufnehmen.

![](https://colabpython.s3-eu-west-1.amazonaws.com/lists.PNG)

In [ ]:
mylist =[1,2,3,4,5]
print(mylist)

mylist1=["Hallo","ich","bin","Sören"]
print(mylist1)
print(type(mylist))

mylist2=[1,"Hallo",2.5]
print(mylist2)

print(mylist1[0])

liste_zusammen=mylist2+mylist1
print(liste_zusammen)

### Listen-Methoden

![](https://www.ecowoman.de/images/stories/Gesundheit/exotische_Fruechte_760.jpg)

In [ ]:
fruits1 = ["Apfel 🍎", "Kiwi 🥝", "Banane 🍌"]
fruits2 = ["Melone 🍉", "Pfirsich 🍑"]
print(fruits1)

['Apfel 🍎', 'Kiwi 🥝', 'Banane 🍌']

In [ ]:
fruits1.extend(fruits2)
print(fruits1)

['Apfel 🍎', 'Kiwi 🥝', 'Banane 🍌', 'Melone 🍉', 'Pfirsich 🍑']

In [ ]:
fruits2.append("Orange 🍊")
print(fruits2)

In [ ]:
fruits2.insert(2, "Blaubeere")
print(fruits2)

In [ ]:
fruits2.pop()
print(fruits2)

In [ ]:
fruits2.append(fruits2.pop(0))
print(fruits2)

In [ ]:
fruits2.remove("Pfirsich 🍑")
print(fruits2)

In [ ]:
fruits2.reverse()
print(fruits2)

In [ ]:
fruits2.sort()
print(fruits2)

In [ ]:
print(fruits1)
del fruits1[0:2]
print(fruits1)

In [ ]:
print(fruits1)
fruits1.clear()
print(fruits1)

In [ ]:
fruits2[0] = "Banane 🍌"
fruits2

---
**Listen mergen** (ohne dopplete Einträge)

In [ ]:
list_x = [1, 9, 3]
list_y = [3, 4, 5]

### Mehrdimensionale Listen

Mehrdimensionale Listen sind **übergeordnete Datenstrukturen**.
übergeordnete Datenstrukturen enthalten mindestens eine Datenstruktur.
Im Unteren Beispiel werden drei Listen einer Liste zugewiesen.


![](https://colabpython.s3.eu-west-1.amazonaws.com/bild+(1).png)

In [ ]:
matrix = [
          [1, 2, 3],
          [4, 5, 6],
          [7, 8, 9]
]

In [ ]:
matrix[1][2]

In [ ]:
[matrix, matrix]

## Tupel

Tupel sind Datenstrukturen, die unveränderlich sind ("immutable"). Dieser Datentyp wird unter anderem verwendet, um unbeabsichtigte Veränderungen zu vermeiden.

![](https://colabpython.s3-eu-west-1.amazonaws.com/tuples.PNG)

In [ ]:
mytuple = (3.1, 4, 1, 1, "42")
mytuple

In [ ]:
mytuple[1]

In [ ]:
mytuple2 = "Hallo", "ich", "bin", "Gerret"
mytuple2

In [ ]:
import sys 

x = [1,2,3,4,5,6]
y = (1,2,3,4,5,6)

print(sys.getsizeof(x))
print(sys.getsizeof(y))

#### Mehrdimensionale Tupel

In [ ]:
matrix = ((1, 2, 3), (4, 5, 6), (7, 8, 9))
matrix

In [ ]:
matrix[1][2]

### Tupel-Methoden

In [ ]:
mytuple.count(1)

In [ ]:
mytuple2.index("Gerret")

## Dictionaries

Dictionaries ähneln vereinfacht einem Wörterbuch. Unter einem jeweiligen Eintrag (Schlüssel) findet man im Wörterbuch eine dazu passende Beschreibung des Eintrags (Wert).

Beispiel aus einem Wörterbuch:

> **Informatik:** "Darstellung, Speicherung, Verarbeitung und Übertragung von Informationen"
>
> **Automatisierungstechnik:** "Verfahren zur selbstständigen Steuerung technischer Anlagen"

Die Einträge des Dictionary werden als "key" bezeichnet, die Beschreibungen als "value". Jeder Schlüssel ist einzigartig und kann nur einmal vorkommen.

![](https://colabpython.s3-eu-west-1.amazonaws.com/dictionaries.PNG)

In [ ]:
studiengang = {
    "Informatik": "Darstellung, Speicherung, Verarbeitung und Übertragung von Informationen",
    "Automatisierungstechnik": "Verfahren zur selbstständigen Steuerung technischer Anlagen",
}

In [ ]:
studiengang["Informatik"]

In [ ]:
studiengang["Automatisierungstechnik"] = "Nicht Informatik"
studiengang["Automatisierungstechnik"]

### Dictionary-Methoden

In [ ]:
list(studiengang.keys())

In [ ]:
list(studiengang.values())

In [ ]:
list(studiengang.items())

In [ ]:
print(studiengang.get("Informatik"))
print(studiengang["Informatik"])

In [ ]:
print(studiengang.get("Jura"))

In [ ]:
studiengang.get("Jura", "Ein unbekannter Studiengang")

In [ ]:
studiengang.get("Informatik", "Ein unbekannter Studiengang")

### Mehrdimensionale Dictionaries

Mehrdimensionale Dictionaries sind **übergeordnete Datenstrukturen**.
übergeordnete Datenstrukturen enthalten mindestens eine Datenstruktur.
Im unteren Beispiel werden drei Dictionaries einem Dictionary zugewiesen.

In [ ]:
studierende = {
    "Rezo": {
        "Nachname": "Zerstörer",
        "Alter": 27
    },
    "Muhammed": {
        "Nachname": "Ali",
        "Alter": 22
    },
}

In [ ]:
studierende["Rezo"]["Alter"]

27

### Aufgabe 3

1. Definiere eine Variable mit allen Monaten eines Kalendarjahres.
Verwende als Schlüssel die Monatsabkürzungen (drei Buchstaben) und als Wert die Monate.

  Verwende ebenfalls die Methoden:  

  *   `.keys() `
  *   `.values()`
  *   `.items()` und 
  *   `.get()`

1. Stelle dir vor, du schreibst ein Programm für die Verwaltung der Bestände eines Buchhändlers. Zu jedem Buch sollen der Titel, der Autor,
eine Artikelnummer und der Preis gespeichert werden. Schreibe drei Programme, die jeweils eine Liste, ein Dictionary bsw. ein Tupel verwenden. Jedes Programm soll die Werte für drei Bücher abspeichern und die Daten anschließend auf dem Bildschirm ausgeben.  

  Die Ausgabe soll dabei nicht als komplette Liste erfolgen, sondern jeder Wert soll in einer eigenen Zeile stehen. Nach jedem Buch soll eine Leerzeile folgen. Dazu dient das Zeichen `\n`.

1. Speichere die Bücher nun in einer übergeordneten Datenstruktur ab. Auch hier sollen bei der Ausgabe alle Werte in einer eignen Zeile stehen. Verwende Sie dazu eine Liste mit drei Elementen. Die Elemente der Liste sind jene Dictionaries, die in der Aufgabe zuvor erstellt wurden.  

  Die Ausgabe soll dabei nicht als komplette Liste erfolgen, sondern jeder Wert
soll in einer eigenen Zeile stehen. Nach jedem Buch soll eine Leerzeile folgen. Dazu dient das Zeichen `\n`.

**Beispielbücher**

| Autor | Titel | Artikelnr. | Preis |
|-------|-------|------------|-------|
| Marten van Steen, Andrew S. Tanenbaum | Distributed Systems | 5385 | 34.24 |
| Andrew S. Tanenbaum | Modern Operating Systems, 4th Edition | 9954 | 36.90 |
| Noni Rizopoulou | Academic English for Computer Science | 3229 | 15.49 |

In [ ]:
# 3.1
monthConversions = {
    "Jan" : "Januar",     # Key : Value
    "Feb" : "Februar",
    "Mär" : "März",
    "Apr" : "April",
    "Mai" : "Mai",
    "Jun" : "Juni",
    "Jul" : "Juli",
    "Aug" : "August",
    "Sep" : "September",
    "Nov" : "November",
    "Dez" : "Dezember"
    }

print(monthConversions)             # gibt alle keys und Values des Dictonary zurück
#print(monthConversions.keys()       # gibt alle Keys des Dictonarys zurück
#print(monthConversions.values())    # gibt alle Values des Dictonarys zurück 
#print(monthConversions.items())

In [ ]:
# 3.2

# Mit Listen:
Buch1 = ["William Shakespeare", "Hamlet", 4223, 12.99]
Buch2 = ["Friedrich Schiller", "Die Räuber", 3229, 5.49]
Buch3 = ["Johann Wolfgang von Goethe", "Faust", 5444, 9.99]
print(Buch1[0])
print(Buch1[1])
print(Buch1[2])
print(Buch1[3], "\n")

print(Buch2[0])
print(Buch2[1])
print(Buch2[2])

print(Buch2[3], "\n")
print(Buch3[0])
print(Buch3[1])
print(Buch3[2])
print(Buch3[3], "\n")

#Mit Tupeln:
Buch1 = ("William Shakespeare", "Hamlet", 4223, 12.99)
Buch2 = ("Friedrich Schiller", "Die Räuber", 3229, 5.49)
Buch3 = ("Johann Wolfgang von Goethe", "Faust", 5444, 9.99)
print(Buch1[0])
print(Buch1[1])
print(Buch1[2])
print(Buch1[3], "\n")
print(Buch2[0])
print(Buch2[1])
print(Buch2[2])
print(Buch2[3], "\n")
print(Buch3[0])
print(Buch3[1])
print(Buch3[2])
print(Buch3[3], "\n")

#Mit Dictionaries
Buch1 = {
    "Autor":"William Shakespeare", 
    "Titel":"Hamlet",
    "Artikelnr.":4223, 
    "Preis:":12.99
    }
    
Buch2 = {"Autor":"Friedrich Schiller", "Titel":"Die Räuber",
"Artikelnr.":3229, "Preis:":5.49}
Buch3 = {"Autor":"Johann Wolfgang von Goethe", "Titel":"Faust",
"Artikelnr.":5444, "Preis:":9.99}


print(Buch1["Autor"])
print(Buch1["Titel"])
print(Buch1["Artikelnr."])
print(Buch1["Preis:"], "\n")
print(Buch2["Autor"])
print(Buch2["Titel"])
print(Buch2["Artikelnr."])
print(Buch2["Preis:"], "\n")
print(Buch3["Autor"])
print(Buch3["Titel"])
print(Buch3["Artikelnr."])
print(Buch3["Preis:"], "\n")

In [ ]:
# 3.3

#List => dictionarys
print("List => dictionarys")

Buecher = [{"Autor":"William Shakespeare", "Titel":"Hamlet",
"Artikelnr.":4223, "Preis:":12.99},
{"Autor":"Friedrich Schiller", "Titel":"Die Räuber",
"Artikelnr.":3229, "Preis:":5.49},
{"Autor":"Johann Wolfgang von Goethe", "Titel":"Faust",
"Artikelnr.":5444, "Preis:":9.99}]
print(Buecher[0]["Autor"])
print(Buecher[0]["Titel"])
print(Buecher[0]["Artikelnr."])
print(Buecher[0]["Preis:"], "\n")
print(Buecher[1]["Autor"])
print(Buecher[1]["Titel"])
print(Buecher[1]["Artikelnr."])
print(Buecher[1]["Preis:"], "\n")
print(Buecher[2]["Autor"])
print(Buecher[2]["Titel"])
print(Buecher[2]["Artikelnr."])
print(Buecher[2]["Preis:"], "\n")


#Dictionary => Lists
print("")
print("Dictionary => Lists")


buchbestand = {      
  "buch1":["Shakespeare", "Hamlet", 4987, 12.98],

  "buch2":["JK Rolling", "Harald Potty", 4973, 42.42],

  "buch3":["Göhte", "Der Handschuh", 9876, 23.99]
}

print(buchbestand["buch1"][0])
print(buchbestand["buch1"][1])
print(buchbestand["buch1"][2])
print(buchbestand["buch1"][3])

print("")

print(buchbestand["buch3"][0])
print(buchbestand["buch3"][1])
print(buchbestand["buch3"][2])
print(buchbestand["buch3"][3])



#Dictionary => Dictionarys
print("")
print("Dictionary => Dictionarys")


Bücherliste = {
    
    "Buch1" : {
        "Titel": "Faust",
        "Autor": "Goethe",
        "Nummer": 55674,
        "Preis": 19.99,
              },

    "Buch2" : {
        "Titel2" : "Moby Dick",
        "Autor" : "Herman Melville",
        "Nummer" : 77588, 
        "Preis" : 29.99,
              },

    "Buch3" : {
        "Titel3" : "Die Physiker",
        "Autor" : "Friedrich Dürrenmatt",
        "Nummer" : 55362,
        "Preis" : 9.99,    
              }

}

print(Bücherliste3.get("Buch1").get("Titel"))
print(Bücherliste3.get("Buch1").get("Autor"))
print(Bücherliste3.get("Buch1").get("Nummer"))
print(Bücherliste3.get("Buch1").get("Preis"))

print("")

print(Bücherliste3.get("Buch2").get("Titel2"))
print(Bücherliste3.get("Buch2").get("Autor"))
print(Bücherliste3.get("Buch2").get("Nummer"))
print(Bücherliste3.get("Buch2").get("Preis"))

print("")

print(Bücherliste3.get("Buch3").get("Titel3"))
print(Bücherliste3.get("Buch3").get("Autor"))
print(Bücherliste3.get("Buch3").get("Nummer"))
print(Bücherliste3.get("Buch3").get("Preis"))

In [ ]:
import sys

x = [1,4,5,7,7,8,3,9,1,2]
y = {1,4,5,7,7,8,3,9,1,2}

print(sys.getsizeof(x))
print(sys.getsizeof(y))

## Set

In [ ]:
x = {2,4,1,3,3,3,3}
y = [2,4,1,3,3,3,3]

print("set: ",x)
print("list: ",y)

print(sys.getsizeof(x))
print(sys.getsizeof(y))

# Type Conversion (list ↔ dict)



---
zwei Listen zu einem Dictionary überführen

In [ ]:
fruits = ["Apple 🍎", "Pear 🍐", "Peach 🍑", "Banana 🍌"]
prices = [0.35, 0.40, 0.40, 0.28]

---
list &rarr; dict



---
dict => list

# `if`-"else" -Bedingungen
`if`-Bedingungen dienen zur bedingten Ausführung von Codeabschnitten. Ist die Bedingung wahr, wird ein der Code ausgeführt.

`if`-Blöcke werden mit dem Schlüsselwort `if` eingeleitet.
Ist die Bedingung nicht wahr, so kann man mithilfe des Schlüsselworts `else`
ausdrücken, was ansonsten passieren sollen. Dies entspricht "Wenn... dann... ansonsten..."-Bedingungen aus der natürlichen Sprache.

Beispiel: Wenn morgen die Sonne scheint, gehe ich ins Kino (`if`), ansonsten bleibe ich zuhause (`else`).

Der `else`-Block ist optional. Das heißt, eine `if`-Bedingung funktioniert auch ohne einen `else`-Block.

In [ ]:
x = 9

if x < 11: 
  print("Die Zahl ist kleiner als 11")



---
**Mehrere If-Anweisungen**

*   36,5°C - 38,0°C: Normal-Temperatur
*   38,1°C - 38,5°C: Leichtes Fieber
*   38,6°C - 39,0°C: Mäßiges Fieber
*   39,1°C - 39,9°C: Hohes Fieber
*   40,0°C - 42,0°C: Sehr hohes Fieber

In [ ]:
tempsensor = float(input("Körpertemperatur: "))
if tempsensor >= 36.5 and tempsensor <= 38.0: # True
  print("Die Temperatur des Patienten ist normal.")
if tempsensor >= 38.0 and tempsensor <= 38.5:  
  print("Der Patient hat leichtes Fieber")
if tempsensor >= 38.5 and tempsensor <= 39.0:
  print("Der Patient hat mäßiges Fieber")
if tempsensor >= 39.1 and tempsensor <= 39.9:
  print("Der Patient hat hohes Fieber")
if tempsensor >= 40.0 and tempsensor <= 42.0:
  print("Der Patient hat sehr hohes Fieber!")
  print("Daten werden der Klinik übermittelt")
else: 
  print("out of range")

## `elif`-Blöcke 

`elif`-Blöcke werden **nur** dann ausgeführt, wenn die vorherige Abfrage `False` ist und die eigene Bedingung `True` ist.

In [ ]:
temperatur_sensor = float(input("Gib die Körpertemperatur an:"))

if temperatur_sensor >= 36.5 and temperatur_sensor <= 38:
  print("Normaltemperatur")
elif temperatur_sensor <= 38.5:
  print("Leichtes Fieber")
elif temperatur_sensor <= 39:
  print("Mäßiges Fieber")
elif temperatur_sensor < 40:
  print("Hohes Fieber")
elif temperatur_sensor <= 42:
  print("Sehr hohes Fieber")
else :
  print("Ungültige Eingabe!")

## Aufgabe 4

![](https://colabpython.s3-eu-west-1.amazonaws.com/ListeAufgabe.PNG)

1. Jemand möchte sich eines der vier oben abgebildeten Tablet-Modelle kaufen. Schreibe ein Programm, dass den Käufer nach einem Maximalpreis fragt, den er höchstens für das Tablet zahlen will.

  Das Programm soll nun alle Tablets mit ihren Eigenschaften ausgeben, deren Preis kleiner oder gleich dem Maximalpreis ist.

1. Schreibe ein Programm, das dem Anwender fünf einfache Rechenaufgaben stellt. Überprüfe die Eingabe. Wenn das Ergebnis richtig ist, erhält der Anwender einen Punkt. Gib nach dem Ende
der Aufgaben eine Bewertung aus:

| Punkte  | Bewertung |
|---------|-----------|
| 0       | `Dringend Nachhilfe benötigt!` |
| 1 bis 2 | `Viele Fehler: weitere Übung erforderlich!` |
| 3 bis 4 | `Gute Leistung!` |

In [ ]:
# 4.1
Tablet_A= {"Marke": "Samsung", 
           "Display": "TFT",
           "Hz": "60Hz",
           "Größe": "10,1",
           "Preis": "210$"}
Tablet_S={"Marke": "Samsung", 
           "Display": "OLED",
           "Hz": "120Hz",
           "Größe": "12,4",
           "Preis": "955$"}
IPad={"Marke": "Apple", 
           "Display": "RETINA",
           "Hz": "60Hz",
           "Größe": "10,5",
           "Preis": "500$"}
MAD={"Marke": "Samsung", 
           "Display": "AMOLED",
           "Hz": "60Hz",
           "Größe": "10,8",
           "Preis": "510$"}

budget = float(input("Preis"))

if budget >= 955:
  print(Tablet_S)
  print(list(Tablet_S.values())[0]) 
  print(list(Tablet_S.values())[1]) 
  print(list(Tablet_S.values())[2]) 
  print(list(Tablet_S.values())[3]) 

if budget >= 510:
    print(IPad)
if budget >= 500:
  print(MAD)
if budget >= 210:
  print(Tablet_A)
else:
  print("Budget too low!")

In [ ]:
Tablet1 = ("Galaxy Tablet A","Samsung","TFT","60 HZ",10.1,210)
Tablet2 = ("Galaxy Tab S 7 +","Samsung","OLED","120 HZ",12.3,995)
Tablet3 = ("IPAD Air","Apple","RETINA","60 HZ",10.5,500)
Tablet4 = ("Mad Pas pro","Huawei", "AMOLED","60 HZ",10.8,510)

tablets = (Tablet1,Tablet2,Tablet3,Tablet4)

Max = float(input("Wie viel möchten sie maximal bezahlen:").replace(",", "."))
if Max >= 210:
  print("Tablet:",  tablets[0][0])
  print("Marke:", tablets[0][1])
  print(tablets[0][2])
  print(tablets[0][3])
  print(tablets[0][4])
  print(tablets[0][5])
if Max >= 500:
  print(Tablet3)
if Max >= 510:
  print(Tablet4)
if Max >= 955:
  print(Tablet2)
if Max < 210:
  print("Kein Tablet für diesen Preis gefunden")

In [ ]:
# 4.2
a = int(input("1 + 1 = "))
b = int(input("1 + 2 = "))
c = int(input("1 + 3 = "))
d = int(input("1 + 4 = "))
e = int(input("1 + 5 = "))
punkte = 0 #zähler

if a == 2:
  punkte = punkte +1

if b == 3:
  punkte += 1   #inkrementieren  punkte = punkte + 1

if c == 4:
  punkte = punkte +1

if d == 5:
  punkte = punkte +1

if e == 6:
  punkte = punkte +1

print("\nErgebnis:")
if punkte == 0:
  print("Dringend Nachhilfe benötigt!")
elif punkte <=2:
  print("Viele Fehler: weitere Übung erforderlich!")
else:
  print("Gute Leistung!")

In [ ]:
punktestand = 0
aufgabe1 = int(input("12 * 2 - 4 = "))
aufgabe2 = int(input("7 * (3 * 2) + 2 = "))
aufgabe3 = int(input("12^2 * 2 = "))

print(type(aufgabe1)) 

if aufgabe1 == 20: 
if aufgabe2 == 44:
  punktestand += 1
if aufgabe3 == 288:
  punktestand += 1
print(punktestand)

In [ ]:
Ergebnis=0

print("5*5")
Antwort=int(input())
if Antwort == 25:
  Ergebnis =Ergebnis +1
print("7*3")
Antwort=int(input())
if Antwort == 21:
  Ergebnis=Ergebnis +1
print("9*2")
Antwort=int(input())
if Antwort == 18:
  Ergebnis=Ergebnis +1
print("4*8")
Antwort=int(input())
if Antwort == 32:
  Ergebnis=Ergebnis +1
print("9*5")
Antwort=int(input())
if Antwort == 45:
  Ergebnis=Ergebnis +1

if Ergebnis == 0 : print("Dringend Nachhilfe benötigt!")
elif 1 <= Ergebnis <=2 :print("Viele Fehler: weitere Übung erforderlich!")
elif 3 <= Ergebnis <=4 :print("Gute Leistung!")
elif Ergebnis == 5 :print("Alles Richtig!")

# Schleifen 

In Python werden die Befehle (statements) in einer Reihenfolge von oben nach unten durchgeführt. Wenn man eine Menge von Befehlen mehrmals durchführen möchte, kann man sogennate Schleifen benutzen.

## `for`-Schleife 

Schleifen können verwendet werden, um über eine Folge von Liste, Zeichenkette, Tupel und Dictionary zu iterieren.

_`for`-Schleifen in Python unterscheiden sich von denen in anderen Programmiersprachen. In Python gibt es keine C-ähnliche Syntax für `for (i = 0; i<n; i++)`._

---
über **Strings** iterieren 

![](https://colabpython.s3-eu-west-1.amazonaws.com/txt.PNG)

In [ ]:
txt = "Informatik"

for i in txt:
  print(i)

---
über **Listen** und **Tupel** iterieren

In [ ]:
#über listen iterieren 
liste1 = ["Apfel", "Banane", "Kiwi"]
#print(liste1[0])
#print(liste1[1])
#print(liste1[2])

for obstsorten in liste1:
  print(obstsorten)

---
über **Dictionaries** iterieren

In [ ]:
social_media = {
    "Facebook": 2004,
    "Instagram": 2010,
    "Twitter": 2006,
    "TikTok": 2016,
    "Qzone": 2005,
    "Weibo": 2009,
    "Pinterest": 2010
}

for i in social_media.keys():
  print(i)

print("")
for i in social_media.values():
  print(i) 

print("")

for i,j in social_media.items():
  print(i,j)

---
über **Zahlenbereiche** iterieren 

![](https://colabpython.s3-eu-west-1.amazonaws.com/zahlenit1.PNG)

In [ ]:
zahl = 10

for i in range(zahl + 1):
  print(i)

---
Über übergeordnete Datenstrukturen iterieren

In [ ]:
matrix = [
  [1, 2, 3],
  [4, 5, 6],
  [7, 8, 9]
]


### über Intervalle iterieren
![](https://colabpython.s3-eu-west-1.amazonaws.com/zahlenit2.PNG)

In [ ]:
x = 10

for i in range(0,x,3):
  print(i)

In [ ]:
liste = ["a","b","c","d","e",2,False]

for i in liste[2:len(liste):2]:
  print(i)

### Aufgabe 5

Schreibe ein Programm, dass alles geraden und ungeraden Zahlen von 0 bis 100 ausgibt:

Ausgabe:

```
0 ist gerade
1 ist ungerade
...
```

In [ ]:
#Lösung

### List comprehension

## `while`-Schleife

Eine `while`-Schleife führt ihre Anweisungen aus, solange ihre Bedingung erfüllt ist.

In [ ]:
alter = int(input("Bitte Alter eingeben:"))

while alter < 18:
  print("Sie dürfen das Spiel nicht kaufen. ")
  alter = int(input("Bitte Alter eingeben:"))

print("Sie dürfen das Spiel kaufen")

# `try` und `except`

Mit dem `try`-Block kann man Fehler abfangen, sobald sie auftreten. Bei einem Fehler wird der Inhalt des `except`-Blocks ausgeführt.

In [ ]:
x = 10
try:
  number = int(input("Enter a number: "))
  erg = x/number
  print(erg)
except ValueError:
  print("invalid number")
except ZeroDivisionError:
  print("divided by zero")

# `break`, `continue` und `pass`

* `break`: Die `break`-Anweisung beendet die aktuelle Schleife und setzt die Ausführung nach der Schleife Anweisung fort.
* `continue`: Die `continue`-Anweisung bricht den aktuellen Schleifendurchlauf ab und beginnt den nächsten.
* `pass`: Die `pass`-Anweisung ist ein Platzhalter für leere Codeblöcke in z.B. Schleifen oder Bedingungen.



---

`break`

In [ ]:
for i in "Python":
  if i == "t":  # t == t
    break
  print(i)

print("The end")



---


`continue`

In [ ]:
for i in "Python":
  if i == "t":  # t == t
    continue
  print(i)

print("The end")



---
`pass`

In [ ]:
for i in "Python":
  if i == "t":  # t == t
    pass
  print(i)

print("The end")

## Aufgabe 6


Erstelle eine Passwort-Abfrage, bei der das Passwort nur aus Ziffern besteht.

Bei drei Fehleingaben erscheint die Botschaft ("three times wrong"). Wenn der Nutzer Zeichenketten eingibt, zählt dies nicht als Fehlversuch. Wenn der Nutzer das Passwort richtig eingibt, erscheint die Botschaft "nice!".

In [ ]:
schloss = True
password = 123
count = 0

while schloss:
  try:
    eingabe = int(input("Passwort: "))
    if eingabe == password:
      print("nice")
      schloss = False
    else:
      count = count + 1
      if count == 3:
        print("three times wrong")
        break
  except ValueError:
    print("keine Zahl")

In [ ]:
count = 0

while count < 3:
  try:
    eingabe = int(input("Passwort: "))
    if eingabe == 123:
      print("nice!")
      break
    else:
      count = count + 1
  except ValueError:
    print("keine Zahl")

if count == 3:
  print("three times wrong")

# Funktionen

Mit Funktionen können Anweisungen gruppiert und wiederverwendet werden. Funktionen können Werte als Parameter erhalten und einen Wert zurückgeben.

In [ ]:
def taschenrechner(x,y):
  add = x+y
  sub = x-y
  mul = x*y
  div = x/y

  return add, sub, mul, div

print(taschenrechner(10,2))

# `import` Anweisung

In [ ]:
import random 
x = random.randint(1,7)
print(x)

In [ ]:
from random import randint
x = randint(1,7)
print(x)

In [ ]:
from random import randint as rd
x = rd(1,7)
print(x)